* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #2862a0;
  --color-primary-light: #9cccff;
  --color-surface: #fff;
  --color-background: #040606d6;
  --color-text-on-primary: #fff;
  --color-text-on-surface: white;
  --color-menu-hover: #ffffff0d;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Roboto, HelveticaNeue, Arial, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 20vw 1fr;
}

aside {
  background-color: var(--color-primary);
  height: 100%;
  min-height: 100vh;
}

ul {
  list-style: none;
}

ul li {
  padding: 2px;
  font-size: 30px;
}

nav a {
  color: var(--color-text-on-primary);
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s;
}

nav a:hover {
  background-color: var(--color-menu-hover);
}

main {
  background-color: var(--color-background);
  padding: 20px;
}

p {
  margin-top: 6px;
}
p,
h1 {
  color: var(--color-text-on-surface);
}

h1 {
  margin-bottom: 20px;
}

.instagram {
  content: url(./images/instagram.png);
}
.linkedin {
  content: url(./images/linkedin.svg);
}
.youtube {
  content: url(./images/youtube.png);
}
.medium {
  content: url(./images/medium.svg);
}
.github {
  content: url(./images/github.svg);
}
